<%- include ../partials/header.ejs %>

<%- include ../partials/top_nav.ejs %>
<<<<<<< HEAD
 
=======

>>>>>>> 8f7f056d24598f013ed866b58d7cd1f9f8b565e5
<main class="container">
    <form class="form" method="POST">
        <div class="form-group">
          <label for="pname">Product Name:</label>
<<<<<<< HEAD
          <input type="text" class="form-control" id="pname" name="pname" value="<%= product.name%>">
        </div>
        <div class="form-group">
            <label for="pcompany">Product Company:</label>
            <input type="text" class="form-control" id="pcompany" name="pcompany" value="<%= product.company%>">
        </div>
        <div class="form-group">
            <label for="price">Product Price:</label>
            <input type="text" class="form-control" id="price" name="price" value="<%= product.price%>">
=======
          <input type="text" class="form-control" id="pname" name="pname" value="<%= product.name %>">
        </div>
        <div class="form-group">
            <label for="pcompany">Product Company:</label>
            <input type="text" class="form-control" id="pcompany" name="pcompany" value="<%= product.company %>">
        </div>
        <div class="form-group">
            <label for="price">Product Price:</label>
            <input type="text" class="form-control" id="price" name="price" value="<%= product.price %>">
>>>>>>> 8f7f056d24598f013ed866b58d7cd1f9f8b565e5
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</main>

<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>