<%- include('partials/header.ejs'); %> 

<%- include('partials/topnav.ejs'); %> 
 
  <main>
    <h1>IBM</h1>
    <p>Welcome to my <%=title %></p>
  </main>

<%- include('partials/footernav.ejs'); %>

<%- include('partials/footer.ejs'); %>

  

